
<html>
    <div>
        <div class = "titleM">Welcome back, {{client.firstName}}  {{client.lastName}}!</div>
        <div class = "attributes">DOB: {{client.dob | date: 'mediumDate'}}</div>
        <div class = "attributes">Age: {{client.age}}</div>
        <div class = "attributes">
 
            <table class = "table table-hover width">
                <thead>
                <tr>
                    <th>Account</th>
                    <th>Bank name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor ="let account of accounts">
                    <td>{{account.id}}</td>
                    <td>{{account.bankName}}</td>
                    <td>
                        <button (click) = viewAccount(account) class= "button2"> View account</button>
                    </td>
                </tr>
                </tbody>
            </table>
            
            <button (click) = registerBankAccount() class= "button2"> Register account</button>

        </div>
    </div>
</html>