<html>
    <div>
        <div class = "titleM">Account {{account.id}}</div>
        <div class = "attributes">

            <p>Bank: {{account.bankName}}</p>
            <p>Type: {{account.type}}<p>
            <p>Balance: {{account.balance}}</p>

        </div>

        <div class = "operations">
            <p>
                <button (click) = seeDeposits(account) class = "button2">Deposits</button>
                <button (click) = seeCards(account) class = "button2">Cards</button>
                <button (click) = makeTransfer(account) class = "button2">Make a transfer</button>
                <button (click) = createDeposit(account) class= "button2"> Create deposit</button>
            </p>
        </div>
    </div>

</html>
